.btn {
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  padding: .3rem .5rem;
  border-radius: .2rem;
  font-size: 1rem;
  border: unset;
  background: unset;
  transition: color .1s, background .1s ease-in-out;
}

.btn:hover {
  color: white;
  background: rgba(1, 1, 1, .5);
}
