@import "src/animation";

.confirmButton {
  position: fixed;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, .9);
  color: white;
  animation: confBack .3s ease-in;

  span {
    grid-column: 1/3;
  }
}
