@keyframes edit {
  0% {
    box-shadow: 0 0 5px 0 rgba(38,145,212, 1);
  }
  50% {
    box-shadow: unset;
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(38,145,212, 1);
  }
}

@keyframes rootScale {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes confBack {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
