.todoInput {
  display: flex;
  justify-content: space-between;
  animation: rootScale .2s;
  align-items: center;

  svg {
    cursor: pointer;
  }
}

//todo дублирование анимации

.input {
  font-size: 1rem;
  padding: .4rem;
  margin-right: 1rem;
  width: 100%;
  border: 1px solid black;
  border-radius: .3rem;
}

.input:focus {
  outline: none;
  border-color: #2691D4;
}

.input.editMode {
  animation: edit 2s linear infinite;
}

.input::placeholder {
  font-style: italic;
  font-size: .9rem;
  transition: transform .2s, color .2s;
}

.input:focus::placeholder {
  color: transparent;
  transform: translateX(1rem);
  outline: black;
}

@keyframes edit {
  0% {
    box-shadow: 0 0 5px 0 rgba(38,145,212, 1);
  }
  50% {
    box-shadow: unset;
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(38,145,212, 1);
  }
}

@keyframes rootScale {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

